body{
    /*background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%);
    background-size: 1em 1em;
    background-color: #fff;
    */
    font-family: sans-serif;
}
#root {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
    min-height: 90vh;
    margin: 0 auto;
    background-color: #fff;
    border-top: 5px solid #3366FF;
}

.logo {
    display: inline-block;
    margin-top: 30px;
    margin-right: 5%;
    padding-right: 5%;
    border-right: 1px solid grey; 
    width: 30%;
}
.banner {
    width: 65%;
    display: inline-block;
    text-align: center;
    color: #3366FF;
    text-transform: uppercase;
}
.search {
    margin-top: 10px;
}

th, td {
    text-align: center;
}
caption {
    color: #3366FF;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    display: block;
    width: 100%;
    overflow: hidden;
}

ul {
    float: left;
    list-style: none;
    padding: 10px;
}
nav li {
    float: left;
    margin: 0 5px 0 5px;
}
.input-warning {
    border: 2px solid red;
}

.login {
    width: 350px;
    height: 250px;
    text-align: left;
    position:absolute;
    left:50%;
    top:50%;
    margin:-125px 0 0 -175px;
    padding: 10px;
    background-color: grey;
}

.login button {
    float: right;
}

@media screen and (max-width: 1280px) {
    .logo {
        margin: 0 auto;
        padding: 0;
        margin-top: 10px;
        width: 90%;
        float: none;
        border-right: none;
    }

    .banner {
        text-align: center;
        width: 100%;
    }
}